h1{

  color: #777;
  margin: 50px 0 70px;
  text-align: center;
}

.gwt-RichTextArea{

  display: block;
  margin: 0 auto 0 auto;
  width: 700px;
  height: 500px;
  border: 2px solid #AAA !important;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius: 10px;
}

#log_panel{
  display: block;
  margin: 0 auto 0 auto;
  width: 400px;
  height: 300px;
  border: 2px solid #AAA !important;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius: 10px;
 
}
.log_panel1{
  margin-left: 100px;
  
}
.blog_panel{
  margin-left: 100px;
  
}
.log_button{
  margin: 15px 0 0 15px;
}

.my_button{
  width:100px;
  font-weight: bold;
  font-size: 120%;
  margin: 5px;  
  background: #B2E0FC;
}
.status_panel{
  color:#F20930;
}
.logout_btn{
  width:100px;
  font-weight: bold;
  font-size: 120%;
 float: right;
 background: #B2E0FC;
}
.button_panel{
  width: 700px;
  display: block;
  /*margin-left: 500px;*/
  margin: 0 auto 0 auto;
  text-align: right;
}


